html {
    font-size: 16px;
    background-color: #28587B;
    font-family: Helvetica;
  }

body {
    width: 60rem;
    height: 10rem;
    margin: 0 auto;
}
main {
    border: 2px solid black;
    width: 60rem;
    position: relative;
    top: 10rem;
}

header {
    background-color: #7F7CAF;
    width: 60rem;
    height: 10rem;
    text-align: center;
    margin: 0 auto;
    border: 2px solid black;
    border-bottom: 0px solid black;
    position: fixed;
    z-index: 2;
}

header h1 {
    color: white;
    padding: 0.4rem 1.2rem;
    margin: 1.4rem 1.4rem;
    text-align: center;
    width: 20%;
    float: left;
    font-family: 'Source Code Pro', monospace;
}
nav {
    padding-top: 1.5rem;
    text-align: right;
}

nav a {
    border: 2px solid black;
    border-radius: 1rem;
    background-color: #EEEEFF;
    padding: 0 1.2rem;
    margin: 1rem 1rem;
    font-size: 1.4rem;
    text-decoration: none;
}

.subheader {
    font-size: 2.3rem;
    font-style: italic;
    background-color: #9FB4C7;
    margin: 0 auto;
    padding: 1rem 2rem;
    font-family: 'Barlow', sans-serif;
}

.subheader.b {
    font-size: 2.3rem;
    font-style: italic;
    background-color: #9FB4C7;
    padding: 1rem 2rem;
    text-align: right;
}
h3 {
    font-family: 'Barlow', sans-serif;
}

#who {
    display: flex;
    align-content: center;
    background-color: #EEEEFF;
}

#who img {
    display: inline-block;
    width: 20rem;
    height: 20rem;
    background-size: cover;
    margin-right: 5rem;
    border: 2px solid black;
    border-left: 0px solid black;
}

#who p {
    display: inline-block;
    font-size: 1.2rem;
    line-height: 150%;
    text-align: justify;
    position: relative;
    top: 2.5rem;
    padding-right: 1rem;
}

#worksexp {
    text-decoration: underline;
}

#worksexp:hover {
    cursor: pointer;
}

#hidden1 {
    display: flex;
    justify-content: space-between;
    gap: 1.31rem;
    text-align: center;
}
.company {
    width: 6.875rem;
    height: 6.25rem;
    border: 1px solid black;
    text-align: center;
    margin: 2rem auto;
    background-image: url("./media/me.jpg");
}

.company:hover {
    cursor: pointer;
}

#balisex {
    background-image: url("./media/balisex.jpg");
    background-size: cover;
    background-position: 50% 50%;
}
#webhelp {
    background-image: url("./media/webhelp.jpg");
    background-size: cover;
    background-position: 50% 50%;
}
#limostar {
    background-image: url("./media/limostar.jpg");
    background-size: cover;
    background-position: 50% 50%;
}
#udea {
    background-image: url("./media/udea.jpg");
    background-size: cover;
    background-position: 50% 50%;
}
#tp {
    background-image: url("./media/tp.jpg");
    background-size: cover;
    background-position: 50% 50%;
}
#cnx {
    background-image: url("./media/cnx.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

#hidden1 {
    display: none;
}

#webhelpexp {
    display: none;
    background-color: #EEEEFF;
    border: 2px solid black;
    border-left: 0px solid black;
    border-right: 0px solid black;
    padding: 1rem;
    line-height: 150%;
    text-align: justify;
}
#tpexp {
    display: none;
    background-color: #EEEEFF;
    border: 2px solid black;
    border-left: 0px solid black;
    border-right: 0px solid black;
    padding: 1rem;
    line-height: 150%;
    text-align: justify;
}
#limostarexp {
    display: none;
    background-color: #EEEEFF;
    border: 2px solid black;
    border-left: 0px solid black;
    border-right: 0px solid black;
    padding: 1rem;
    line-height: 150%;
    text-align: justify;
}
#balisexexp {
    display: none;
    background-color: #EEEEFF;
    border: 2px solid black;
    border-left: 0px solid black;
    border-right: 0px solid black;
    padding: 1rem;
    line-height: 150%;
    text-align: justify;
}
#udeaexp {
    display: none;
    background-color: #EEEEFF;
    border: 2px solid black;
    border-left: 0px solid black;
    border-right: 0px solid black;
    padding: 1rem;
    line-height: 150%;
    text-align: justify;
}
#cnxexp {
    display: none;
    background-color: #EEEEFF;
    border: 2px solid black;
    border-left: 0px solid black;
    border-right: 0px solid black;
    padding: 1rem;
    line-height: 150%;
    text-align: justify;
}
#project {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin: 0 auto;
    background-color: #EEEEFF;
}
#project:hover {
    cursor: pointer;
}
#project h3 {
    padding: 0.8rem;
    margin: 0;
    text-align: center;
    color: white;
    background-color: #7F7CAF;
}
.subproject {
    display: none;
    justify-content: start;
    gap: 10rem;
    padding: 1rem;
}

.textprojet {
    width: 28rem;
    height: auto;
    font-size: 1.2rem;
    text-align: justify;
}
.images {
    width: 20rem;
    height: 20rem;
    background-image: url(./media/github.png);
    background-size: cover;
    background-position: 40% 60%;
    text-align: center;
}
button {
    position: relative;
    top: 16rem;
    margin: 0 auto;
}
footer {
    background-color: #7F7CAF;
    width: 60rem;
    height: 10rem;
    text-align: center;
    margin: 0 auto;
    border: 2px solid black;
    border-top: 0px solid black;
    position: relative;
    top: 10rem;
    line-height: 150%;
}
footer p a:link {
    color: lightgoldenrodyellow;
}
footer p a:visited {
    color: #55ACEE;
}
footer h2 {
    z-index: 1;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  .fa:hover {
    opacity: 0.7;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa-reddit {
    background: #ff5700;
    color: white;
  }

  @media only screen and (max-width: 960px){
    body {
        width: 41rem;
        height: auto;
        margin: 0 auto;
        text-align: center;
    }
    main {
        border: 2px solid black;
        width: 100%;
        position: relative;
        top: 10rem;
        text-align: center;
        margin: 0 auto;
    }
    
    header {
        background-color: #7F7CAF;
        width: 41rem;
        margin: 0 auto;
        text-align: center;
        border: 2px solid black;
        border-bottom: 0px solid black;
        display: flex;
        flex-direction: column;
    }
    header h1 {
        color: white;
        padding: 0.4rem 1.2rem;
        margin: 0 auto;
        text-align: center;
        width: 40%;
        font-family: 'Source Code Pro', monospace;
    }
    nav {
        padding-top: 1.5rem;
        margin: 0 auto;
        text-align: center;
    }
    
    nav a {
        border: 2px solid black;
        border-radius: 1rem;
        background-color: #EEEEFF;
        padding: 0 0.5rem;
        margin: 0 auto;
        text-align: center;
        font-size: 1.3rem;
        text-decoration: none;
    }
    
    .subheader {
        font-size: 2rem;
        font-style: italic;
        background-color: #9FB4C7;
        margin: 0 auto;
        padding: 1.5rem 2rem;
        font-family: 'Barlow', sans-serif;
        text-align: center;
    }
    
    .subheader.b {
        font-size: 2rem;
        font-style: italic;
        background-color: #9FB4C7;
        padding: 1.5rem 2rem;
        text-align: center;
    }
    h3 {
        font-family: 'Barlow', sans-serif;
    }
    
    #who {
        display: flex;
        align-content: center;
        background-color: #EEEEFF;
        flex-direction: column;
    }
    
    #who img {
        width: auto;
        background-size: cover;
        margin: 0 auto;
        margin-top: 1rem;
        border: 2px solid black;
        border-left: 0px solid black;
        text-align: center;
        flex-shrink: 2;
        position: relative;
        top: 1rem;
    }
    
    #who p {
        width: 50%;
        font-size: 1rem;
        line-height: 150%;
        text-align: justify;
        position: relative;
        top: 1.5rem;
        padding-right: 1rem;
        flex-shrink: 3;
        margin: 3rem auto;
        margin-top: 1rem;
    }
    #hidden1 {
        display: flex;
        justify-content: space-around;
        text-align: center;
        margin: 0 0.5rem;
    }
    .company {
        width: 5rem;
        height: 5rem;
        border: 1px solid black;
        text-align: center;
        margin: 2rem auto;
        background-image: url("./media/me.jpg");
        flex-shrink: 2;
    }
    #webhelpexp {
        display: none;
        background-color: #EEEEFF;
        border: 2px solid black;
        border-left: 0px solid black;
        border-right: 0px solid black;
        line-height: 150%;
        text-align: justify;
        font-size: 1.3rem;
        padding: 0 4rem;
        margin: 0 6rem;
    }
    #tpexp {
        display: none;
        background-color: #EEEEFF;
        border: 2px solid black;
        border-left: 0px solid black;
        border-right: 0px solid black;
        padding: 1rem;
        line-height: 150%;
        text-align: justify;
        font-size: 1.3rem;
        padding: 0 4rem;
        margin: 0 6rem;
    }
    #limostarexp {
        display: none;
        background-color: #EEEEFF;
        border: 2px solid black;
        border-left: 0px solid black;
        border-right: 0px solid black;
        padding: 1rem;
        line-height: 150%;
        text-align: justify;
        font-size: 1.3rem;
        padding: 0 4rem;
        margin: 0 6rem;
    }
    #balisexexp {
        display: none;
        background-color: #EEEEFF;
        border: 2px solid black;
        border-left: 0px solid black;
        border-right: 0px solid black;
        padding: 1rem;
        line-height: 150%;
        text-align: justify;
        font-size: 1.3rem;
        padding: 0 4rem;
        margin: 0 6rem;
    }
    #udeaexp {
        display: none;
        background-color: #EEEEFF;
        border: 2px solid black;
        border-left: 0px solid black;
        border-right: 0px solid black;
        padding: 1rem;
        line-height: 150%;
        text-align: justify;
        font-size: 1.3rem;
        padding: 0 4rem;
        margin: 0 6rem;
    }
    #cnxexp {
        display: none;
        background-color: #EEEEFF;
        border: 2px solid black;
        border-left: 0px solid black;
        border-right: 0px solid black;
        padding: 1rem;
        line-height: 150%;
        text-align: justify;
        font-size: 1.3rem;
        padding: 0 4rem;
        margin: 0 6rem;
    }
    .subproject {
        display: none;
        justify-content: start;
        gap: 2rem;
        padding: 1rem;
    }
    .textprojet {
        width: 70%;
        height: auto;
        font-size: 1.3rem;
        text-align: justify;
        line-height: 130%;
    }
    footer {
        background-color: #7F7CAF;
        width: 41rem;
        height: 10rem;
        text-align: center;
        margin: 0 auto;
        border: 2px solid black;
        border-top: 0px solid black;
        position: relative;
        top: 10rem;
        line-height: 150%;
    }
  }