html {
    font-size: 16px;
  }

body {
    width: 60rem;
    height: 10rem;
    margin: 0 auto;
}

header {
    background-color: #AA767C;
    width: 100%;
    height: 10rem;
    text-align: center;
    margin: 0 auto;
}

header h1 {
    padding: 0.4rem 1.2rem;
    margin: 1.4rem 1.4rem;
    text-align: center;
    width: 20%;
    float: left;

}

nav {
    padding-top: 1.5rem;
    text-align: right;
}

nav a {
    border: 2px solid black;
    background-color: white;
    padding: 0 1.2rem;
    margin: 1rem 1rem;
    font-size: 1.4rem;
    text-decoration: none;
}


.subheader {
    font-size: 2.3rem;
    font-style: italic;
    background-color: #D6A184;
    margin: 0 auto;
    padding: 1rem 0.5rem;
}

.subheader.b {
    font-size: 2.3rem;
    font-style: italic;
    background-color: #D6A184;
    padding: 1rem 0.5rem;
    text-align: right;
}

#who {
    display: flex;
    align-content: center;

}

#who img {
    display: inline-block;
    width: 20rem;
    height: 20rem;
    background-size: cover;
    margin-right: 5rem;
}

#who p {
    display: inline-block;
    font-size: 1.2rem;
    line-height: 150%;
    text-align: justify;
    position: relative;
    top: 2.5rem;
}

#hidden1 {
    display: flex;
    justify-content: space-between;
    gap: 1.31rem;
    text-align: center;
}
.company {
    width: 6.875rem;
    height: 6.25rem;
    border: 1px solid black;
    text-align: center;
    margin: 2rem auto;
    background-image: url("./media/me.jpg");
}

#balisex {
    background-image: url("./media/balisex.jpg");
    background-size: cover;
    background-position: 50% 50%;
}
#webhelp {
    background-image: url("./media/webhelp.jpg");
    background-size: cover;
    background-position: 50% 50%;
}
#limostar {
    background-image: url("./media/limostar.jpg");
    background-size: cover;
    background-position: 50% 50%;
}
#udea {
    background-image: url("./media/udea.jpg");
    background-size: cover;
    background-position: 50% 50%;
}
#tp {
    background-image: url("./media/tp.jpg");
    background-size: cover;
    background-position: 50% 50%;
}
#cnx {
    background-image: url("./media/cnx.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

#hidden1 {
    display: none;
}
#balisexexp {
    display: none;
}
#webhelpexp {
    display: none;
}
#tpexp {
    display: none;
}
#limostarexp {
    display: none;
}
#udeaexp {
    display: none;
}
#cnxexp {
    display: none;
}
#project {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    gap: 2rem;
    margin: 1rem auto;
}
.subproject {
    display: flex;
    justify-content: start;
    gap: 10rem;
}
.textprojet {
    width: 28rem;
    height: auto;
}
.images {
    width: 20rem;
    height: 20rem;
    background-image: url(./media/github.png);
    background-size: cover;
    background-position: 40% 60%;
    text-align: center;

}
button {
    position: relative;
    top: 16rem;
    margin: 0 auto;
}
